__pycache__/alphaFunctions.cpython-311.pyc
__pycache__/baseFunctions.cpython-311.pyc
__pycache__/displayEquationGlWidget.cpython-311.pyc
__pycache__/enterFunctions.cpython-311.pyc
__pycache__/eqAlphaFunctions.cpython-311.pyc
__pycache__/eqBaseFunctions.cpython-311.pyc
__pycache__/eqKeyboardFunctions.cpython-311.pyc
__pycache__/eqSecondFunctions.cpython-311.pyc
__pycache__/eval.cpython-311.pyc
__pycache__/evalFunctions.cpython-311.pyc
__pycache__/evaluate.cpython-311.pyc
__pycache__/evalVars.cpython-311.pyc
__pycache__/keyBoardFunctions.cpython-311.pyc
__pycache__/main.cpython-311.pyc
__pycache__/main2.cpython-311.pyc
__pycache__/mainglWidget.cpython-311.pyc
__pycache__/mainGlWidget.cpython-312.pyc
__pycache__/modeDialogFunctions.cpython-311.pyc
__pycache__/secondFunctions.cpython-311.pyc
__pycache__/sysVars.cpython-311.pyc
__pycache__/t.cpython-311.pyc
__pycache__/variables.cpython-311.pyc
__pycache__/vars.cpython-311.pyc
__pycache__/windowDialogFunctions.cpython-311.pyc
__pycache__/writeEquationglWidget.cpython-311.pyc
__pycache__/writeEquationGlWidget.cpython-312.pyc
